extends layout
block content
  div(style='align-content: center; width: 640px; height: 480px; padding-top: 100px; margin: auto')
    h4.display-3(style='margin: auto; text-align: center; padding-bottom: 40px') Change
    form.px-4.py-3(name='form' method='post', style='padding-top: 100px' novalidate)
      .input-group.mb-3
        .input-group-prepend
          span#basic-addon3.input-group-text Sitename
        input#sitename.form-control(type='text', maxlength='45', name='sitename', required='')
      .input-group.mb-3
        .input-group-prepend
          span#basic-addon3.input-group-text Username
        input#username.form-control(type='text', maxlength='45', name='username', required='')
      .input-group.mb-3
        .input-group-prepend
          span#basic-addon3.input-group-text Password
        input#user_password.form-control(type='password', maxlength='45', name='user_password', required='')
      .form-check
        input#if_private.form-check-input(type='checkbox', name='if_private', checked='')
        label.form-check-label(for='if_private') Set note private
      #password.form-group
        label(for='pwd') Decryption password: 
        input#pwd.form-control(type='password', name='pwd', placeholder='Password' value='', required='')
      #con_password.form-group
        label(for='conf_pwd') Confirm decryption password: 
        input#conf_pwd.form-control(type='password', name='conf_pwd', placeholder='Confirm your password', value='', required='')
      .form-group(style='padding-top:20px;')
        input.form-control(type='submit', name='submit', value='Submit', onclick='return validate()')
      .form-group(style='padding-top: 20px')
        input.btn.btn-primary(type='reset', name='reset', value='Reset', style='left: 0')
        input.btn.btn-primary(style='margin-left: 20px', type='button', value='Cancel', onclick="window.location='/user';")
  script.
    $(document).ready(function(){
      $('#if_private').change(function(){
        if(this.checked){
          $('#password').fadeIn('slow');
          $('#con_password').fadeIn('slow');
        }
        else{
          $('#password').fadeOut('slow');
          $('#con_password').fadeOut('slow');
        }
      });
    });

