extends layout
block content
  div(style='align-content: center; width: 640px; height: 480px; padding-top: 100px; margin: auto')
    h4.display-2(style='margin: auto; text-align: center; padding-bottom: 40px') Login
    .alert.alert-danger(role='alert', style=valid_hidden)
      strong Error!
      |  You user name and password don't match. Please try again.
    .alert.alert-success(role='alert', style=reg_hidden)
      strong Success Registration!
      |  Please login to use DIApp.
    form#my_captcha_form.px-4.py-3(method='post', style='padding-top: 100px', name='my_captcha_form')
      .form-group
        label(for='username') Username: 
        input#usr.form-control(type='text', name='username', placeholder='username', required='')
        small#usrHelp.form-text.text-muted We'll never share your user name with anyone else.
      .form-group
        label(for='pwd') Password: 
        input#pwd.form-control(type='password', name='pwd', placeholder='password', required='')
      .g-recaptcha(data-sitekey='6LfCufYUAAAAAMLrtvdHqxPdCijjHWImzHuolp8o')
      .form-group
        input.form-control(type='submit', name='submit', value='Submit')
      .form-group
        input.btn.btn-primary(type='reset', name='reset', value='Reset', style='left: 0')
        input.btn.btn-primary(style='margin-left: 20px', type='button', value='New User?', onclick="window.location='register';")

  script(src='https://www.google.com/recaptcha/api.js', async='', defer='')
  script.
    document.getElementById("my_captcha_form").addEventListener("submit",function(evt){
      var response = grecaptcha.getResponse();
      if(response.length == 0){
        //reCaptcha not verified
        alert("Please verify that you are not a robot!");
        evt.preventDefault();
        return false;
      }
      //captcha verified
      //do the rest of your validations here
    });
  
